<p id="notice"><%= notice %></p>

<h1>Listing Teachers</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="1">Code</th>
      <th colspan="1">Name</th>
      <% if params[:assigns]=='1' %>
      <th colspan="1">Assign Subject</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td> <%= teacher.code %></td>
        <td> <%= teacher.name %></td>
    <% if params[:assigns]=='1' %>
      <td><%= link_to 'Assign Subject', teacher_subjects_path(teacher.id, :assigns => 1)  %></td>
    <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

    <% if params[:assigns]!='1' %>
      <%= link_to 'New Teacher', new_teacher_path %>
    <% end %>


