<div ng-controller="timeslotController" ng-init="subjects = <%= @subjects.to_json %>; sections = <%= @batches.to_json %>;init()">
	
<!-- 	<%= select_tag 'batch1', options_for_select(@batches.collect{ |b| [b.name, b.id] })  %>
	<%= select_tag 'batch2', options_for_select(@batches.collect{ |b| [b.name, b.id] })  %>
	<%= select_tag 'batch3', options_for_select(@batches.collect{ |b| [b.name, b.id] })  %> -->
		 <label>Select Subject
    <select ng-model="subject" ng-options="subject.id as subject.name for subject in subjects" ng-change="onSubjectChange()">
    </select>
    </label>

	 <label>Batch1:
    <select ng-model="batch1" ng-options="section.id as section.name for section in sections">
    </select>
    </label>
    <label>Batch2:
    <select ng-model="batch2" ng-options="section.id as section.name for section in _.reject(sections, {id: batch1})">
    </select>
    </label>
    <label>Batch3:
    <span  class="nullable">
    <select ng-model="batch3" ng-options="section.id as section.name for section in _.reject(_.reject(sections, {id:batch1}),{id:batch2})">
    <option value="">NULL</option>
    </select>
   </span>
  </label>
  
   <p>{{batch1}}</p> <p>{{batch2}}</p> <p>{{batch3}}</p>
  </div>




	
	

	 <%= form_tag({:action => 'index'}, {:method => :get , :year => params[:year]} ) do %>
	 <%= submit_tag("Find slots") %>

<% end %>

<div class="table-responsive">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th></th>
				<% timeslots_for_headers = @timeslots.group_by do |slot|
					"#{slot.starttime.strftime '%l:%M %p'} - #{slot.endtime.strftime '%l:%M %p'}"
				end
				%>
				<% timeslots_for_headers.keys.each do |timeslot| %>
				<th><%= timeslot %></th>
				<% end %>
			</tr>
		</thead>


		<tbody>
			<% days = timeslots_for_headers[timeslots_for_headers.keys.first].map(&:day).map(&:capitalize) %>
			<% days.each do |day| %>
				<tr>
					<td><%= day %></td>
					<% timeslots_for_headers.length.times do %>
					<td></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

</div>