<!DOCTYPE html>
<html>
<head>
  <title>Timetable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="timetable" ng-controller="rootController">
<% if !show_logout? %>
<div class="jumbotron" style="height:290px;margin-bottom: -7px; ">
  <div class="container" >

  <img src="images/logo.png"  class="img-responsive" style="width:300px;height:300px;display:inline;margin-bottom: 92px;padding-bottom: 12px;margin-top: -46px;">
  <h1 style="display: inline;"> College Timetable App </h1>
  </div>
</div>

<% end %>
    <% if show_logout? %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
          <a class="navbar-brand" href="#">
        <span class="fa fa-calendar fa-2x"></span>
      </a>

      <h1 class="navbar-text">COLLEGE TIMETABLE MANAGEMENT APP</h1>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <h3 class="navbar-text navbar-left"><span class="fa fa-user fa-1x"></span> Signed in as <%= session[:username].capitalize %></h3>
        <li class="navbar-link"><%= link_to "Logout", logout_path ,method: "delete" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
          
    <% end %>  
     
                

  <div class="container">
        <% flash.each do |message_type, message| %>
        <div id = "<%= message_type %>" class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

<% if show_logout? %>
  
       <ul style="margin-top: 85px;margin-bottom: 10px;margin-left: -80px;width: 130px;border: 1px solid #DDD;margin-right: 35px;" class="nav nav-tabs nav-stacked pull-left">
  <li role="presentation"><%= link_to 'Subjects', controller: 'subjects' %></li> 
    <li role="presentation"><%= link_to 'Teachers', controller: 'teachers' , action: 'index' , assigns: 0 %></li> 
    <li role="presentation"><%= link_to 'Assign Sub to teachers' , controller: 'teachers' , action: 'index' , assigns: 1 %></li> 
    <li role="presentation"><%= link_to 'Assign Teachers to 1st Year BatchSubjects' , controller: 'batch_subjects' , action: 'index' , assignt: 1 , year: 1%></li>    
    <li role="presentation"><%= link_to 'Make 1st yr Timetable' , controller: 'timeslots' , action: 'index' , year: 1%></li>       
    <li role="presentation"><%= link_to 'Show teachers timetable' , controller: 'teachers' , action: 'index' , assigns: 2 %></li>
   <li role="presentation"><%= link_to 'Show room occupancy sheet' , controller: 'rooms' , action: 'index' %></li>
  <li role="presentation"><%= link_to 'Show batch timetable' , controller: 'batches' , action: 'index' %></li>
    <li role="presentation"><%= link_to 'Show 1st year timetable' , controller: 'timeslots' , action: 'yearindex' ,year: 1 %></li>

</ul>
         
<% end %>
<div style="overflow:hidden;">
    <%= yield %>
</div>    
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
<%= render partial: 'layouts/angular_config' %>
</body>
</html>